@model Intra.Models.Employee
@{
    ViewData["Title"] = "Add Employee";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="bg-danger">
            <p class="text-center text-white">@ViewBag.errors</p>
        </div>
        <div class="bg-success">
            <p class="text-center text-white">@ViewBag.success</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-7 offset-md-3">
        <div class="card shadow-lg p-5">
            <h1 class="text-center text-info card-title mb-3">@ViewData["Title"]</h1>
            <div class="card-content">
                <form asp-action="AddEmployee" asp-controller="Employee" method="post">
                    <div class="form-group">
                        <select asp-for="Name" class="form-control">
                            @foreach (var name in ViewBag.AllNames)
                            {
                                <option value="@name.FirstName @name.LastName">@name.FirstName @name.LastName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input asp-for="WorkDept" class="form-control" placeholder="Work Department">
                    </div>
                    <div class="form-group">
                        <input asp-for="Image" class="form-control" placeholder="Image">
                    </div>
                    <div class="form-group">
                        <input asp-for="Job" class="form-control" placeholder="Job">
                    </div>
                    <div class="form-group">
                        <input asp-for="HireDate" class="form-control" placeholder="Hire Date">
                    </div>
                    <div class="form-group">
                        <input asp-for="Sex" class="form-control" placeholder="Sex">
                    </div>
                    <div class="form-group">
                        <input asp-for="Salary" class="form-control" placeholder="Salary">
                    </div>
                    <div class="form-group">
                        <input asp-for="Bonus" class="form-control" placeholder="Bonus">
                    </div>
                    <div class="form-group">
                        <input asp-for="PhoneNo" class="form-control" placeholder="Phone Number">
                    </div>
                    <input type="submit" class="btn btn-block btn-info btn-round" value="Add Employee">
                </form>
            </div>
            <div class="card-actions">
                <a href="Employees" class="btn btn-warning btn-round">Go Back &circlearrowleft;</a>
            </div>
        </div>
    </div>
</div>