@model Intra.Models.Employee
@{
    ViewData["Title"] = "Edit User";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="bg-danger">
            <p class="text-center text-white">@ViewBag.errors</p>
        </div>
        <div class="bg-success">
            <p class="text-center text-white">@ViewBag.success</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-7 offset-md-3">
        <div class="card">
            <h1 class="text-center text-info card-title">@ViewData["Title"]</h1>
            <div class="card-content">
                <form asp-action="EditEmployee" asp-controller="Employee" method="post">
                    <div class="form-group">
                        <input type="text" name="Name" id="" class="form-control" value="@Model.Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="WorkDept" id="" class="form-control" value="@Model.WorkDept">
                    </div>
                    <div class="form-group">
                        <input type="file" name="Image" id="" class="form-control" value="@Model.Image">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Job" id="" class="form-control" value="@Model.Job">
                    </div>
                    <div class="form-group">
                        <input type="datetime" name="HireDate" id="" class="form-control" value="@Model.HireDate">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Sex" id="" class="form-control" value="@Model.Sex">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Salary" id="" class="form-control" value="@Model.Salary">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Bonus" id="" class="form-control" value="@Model.Bonus">
                    </div>
                    <div class="form-group">
                        <input type="text" name="PhoneNo" id="" class="form-control" value="@Model.PhoneNo">
                    </div>
                    <input type="submit" class="btn btn-block btn-info btn-round" value="Update Employee">
                </form>
            </div>
            <div class="card-actions">
                <a href="Employees" class="btn btn-warning btn-round">Go Back &circlearrowleft;</a>
            </div>
        </div>
    </div>
</div>