@model Intra.Models.User
@{
    ViewData["Title"] = "Profile Page";                      
}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="bg-danger">
            <p class="text-center text-white">@ViewBag.errors</p>
        </div>
        <div class="bg-success">
            <p class="text-center text-white">@ViewBag.success</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <h3 class="text-center mt-5 p-1">@ViewBag.User.FirstName @ViewBag.User.LastName's <br> @ViewData["Title"]</h3>
        <p class="lead text-center"><b>Email:</b> @ViewBag.User.Email</p>
        <p class="lead text-center"><b>DOB:</b> @ViewBag.User.Birthday</p>
        <p class="text-center"><b>Rate:</b> @ViewBag.User.Rate</p>
        <p class="text-center"><b>Hours:</b> @ViewBag.User.Hours</p>
    </div>
    <div class="col-12 col-md-6"></div>
</div>